.description-block {
  padding: 15px;
  border: 3px solid rgb(224, 224, 224);
  width: 48%;
  margin-bottom: 20px;
}
.desc-info {
  display: flex;
  flex-direction: column;
}
.desc-question-image {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
}
.desc-player-container {
  width: 70%;
}
.desc {
  padding-top: 10px;
}
.description-name-player-block {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.desc-description-image {
  border-radius: 5px;
  width: 25%;
}
.description-name {
  padding-top: 10px;
  text-align: left;
  font-size: 18px;
}
@media (max-width: 400px) {
  .desc-player-container {
    margin-top: 10px;
    width: 100%;
  }

  .description-player-container {
    width: 100%;
  }
  .desc-description-image {
    border-radius: 5px;
    width: 50%;
  }
  .desc-question-image {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
