body {
  padding: 10px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 990px) {
  .pagination {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 5%;
    row-gap: 10px;
  }
  .pagination li a {
    border-radius: 10px;
  }
}
@media (max-width: 450px) {
  .pagination {
    width: 100%;
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    column-gap: 5%;
    row-gap: 10px;
  }
  .pagination li a {
    font-size: 12px;
    border-radius: 10px;
  }
  .list-group-item {
    font-size: 14px;
  }
  .jumbotron {
    margin-bottom: 10px;
  }
  .choose-answer {
    flex-direction: column;
  }
  .choose-answer-block {
    width: 100%;
    margin-top: 10px;
  }
  .description-block {
    width: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 400px) {
  .pagination {
    width: 100%;
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    column-gap: 5%;
    row-gap: 10px;
  }
  .pagination li a {
    font-size: 14px;
    border-radius: 10px;
  }
  .list-group-item {
    font-size: 14px;
  }
}
